
 /* Fade ALL OUT on parent hover */
#results-list:hover > li { 
    opacity:0.8;
}

/* Fade in hovered one */
#results-list > li:hover { 
    opacity:1;
}
/* Add left border for hovered one */
#results-list > li:hover > div.image { 
    border-left: 6px solid #198754;
}

/* Break url */
.break {
    word-break: break-word;
}

.page-item.disabled > a.page-link {
    color: #6c757d!important;;
    background-color: #dee2e6;
}